.list-item{
    border: 1px solid fuchsia;
    padding: 10px;
    margin-bottom: 16px;


    /* 嵌套 */
    .published-span{
        color: yellowgreen;
    }

    .no-published-span{
        color: red;
    }
}

.published{
    border: 1px solid greenyellow;
}